@import "tailwindcss";
@import 'flowbite';

/* Tạo animation cho toast */
.toast-notification {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Khi toast bị xóa */
.toast-notification[data-state='exit'] {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}